:host{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
.login{
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 0.3em;
    padding: 1em;
    width: 240px;
    box-shadow: 0 0 0.6em 0.3em rgba(90, 90, 90, 0.592);
    div{
        margin: 0.5em 0;
        lable:not(:last-of-type){
            display: block;
        }
        input[type=text],input[type=password]{
            width: 100%;
            padding: 0.3em;
            box-sizing: border-box;
        }
        button{
            background-color: rgb(125, 77, 142);
            color: white;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-radius: 0.3em;
            padding: 0.3em;
        }
        button[disabled]{
    background-color: silver;
    color: rgb(87, 87, 87);
}
    }
}
.message{
    background-color: rgb(255, 211, 211);
    padding: 0.4em;
    border-radius: 0.4em;
    text-align: center;
    font-size: small;
}
